* {
	margin: 0;
	font-size: 100%;
	font-family: 'Open Sans';
	padding: 0;
	box-sizing: border-box;
	color: #DDDBF1
}

body {
	background-color: #1C1D21;
}

button {
	font-family: 'Roboto Mono', monospace;
}

main {
	margin: 0 auto;
	max-width: 70em;
}

h1 {
	font-size: 5em;
}

h2 {
	font-size: 1.5em;
}

h6 {
	font-family: 'Roboto Mono', monospace;
	color: #0CAADC;
	margin-left: 5px;
}

footer p {
	align-items: center;
	display: flex;
	font-family: 'Roboto Mono', monospace;
	justify-content: center;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 35px;
}

nav ul {
	list-style: none;
}

ol li {
	display: inline-block;
}

ul li {
	display: inline-block;
	font-family: 'Roboto Mono', monospace;
}

.media-btn {
	padding: 10px 10px;
	margin: 0px 15px 0px 5px;
	border: 2px;
	border-radius: 3px;
	border-style: solid;
	border-color: #0CAADC;
}

.nav-link {
	margin: 0px 15px; 
}

.work-description {
	display: none;
}

.work-item {
	display: block;
}

#landing {
	margin: 450px 0px 700px 0px;
	justify-content: center;
}

#logo {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.5em;
}

#media-btns {
	margin: 30px 0px;
	font-size: 2rem;
}

#projects-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}

#resume-link {
	font-family: 'Roboto Mono', monospace;
	text-decoration: none;
}

div[tabIndex="0"] {
	display: block;
}