* {
	margin: 0;
	font-size: 100%;
	font-family: 'Open Sans';
	padding: 0;
	box-sizing: border-box;
	color: #DDDBF1
}

a {
	color: #0CAADC;
}

body {
	background-color: #1C1D21;
}

main {
	margin: 0 auto;
	max-width: 50em;
}

h1 {
	font-size: 5em;
}

h2 {
	font-size: 1.6em;
	margin: 30px 0px;
}

h6 {
	font-family: 'Roboto Mono', monospace;
	color: #0CAADC;
	font-size: 1.3em;
	margin-left: 5px;
}

footer p {
	align-items: center;
	display: flex;
	font-family: 'Roboto Mono', monospace;
	justify-content: center;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 35px;
}

nav ul {
	list-style: none;
}

div .animation {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 4px;
	width: 25%;
	z-index: 1;
	background-color: red;
}

div .animation-background {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 4px;
	width: 100%;
	z-index: 0;
	background-color: #696969;
	opacity: 50%;
}

ol li {
	display: inline-block;
}

p {
	opacity: 60%;
	line-height: 2em;
}

section {
	margin-top: 200px;
}

span {
	color: #0CAADC;
}
ul li {
	display: inline-block;
	font-family: 'Roboto Mono', monospace;
	margin: 10px 0px;
}

ul li a {
	font-family: 'Roboto Mono', monospace;
	font-size: 15px;
	color: #0CAADC;
	background-color: transparent;
	margin: 10px;
	padding: 10px 0px;
}

.media-btn {
	padding: 10px 10px;
	margin: 0px 15px 0px 5px;
	border: 2px;
	border-radius: 3px;
	border-style: solid;
	border-color: #0CAADC;
}

.nav-link {
	margin: 0px 15px; 
}

.tabs-container {
	position: relative;
	width: 100%;
}

.tabs-list {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.work-description {
	display: none;
}

.work-li {
	width: 25%;
}

.work-item {
	display: block;
}

#landing {
	margin: 450px 0px 700px 0px;
	justify-content: center;
}

#logo {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.5em;
}

#media-btns {
	margin: 30px 0px;
	font-size: 2rem;
}

#projects-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}

#resume-link {
	font-family: 'Roboto Mono', monospace;
	text-decoration: none;
	color: #0CAADC;
}

div[tabIndex="0"] {
	display: block;
}